
//- start shp now
.shop#shop.pt-4.pb-4 
    .container 
        h5.text-center.text-uppercase.text-black-50 new arrival 
        h2.text-center.text-capitalize shop now 
        .boxs.d-flex.flex-wrap.gap-4.align-items-center.justify-content-center.pt-5   
            .box 
                img(src=" images/shop1.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
            .box 
                img(src="images/shop2.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
            .box 
                img(src="images/shop3.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
            .box 
                img(src="images/shop4.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
            .box 
                img(src="images/shop5.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
            .box 
                img(src="images/shop6.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
            .box 
                img(src="images/shop2.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
            .box 
                img(src="images/shop1.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
//- end shop now

//- start best selling 
.best#best.pt-4.pb-5
    .container 
        h2.text-center.text-capitalize best selling  
        .boxs.d-flex.flex-wrap.gap-4.align-items-center.justify-content-center.pt-5   
            .box 
                img(src="images/best1.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
            .box 
                img(src="images/best2.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>
            .box 
                img(src="images/best3.jpeg", alt="")
                .d-flex.justify-content-between.align-items-center 
                    span.text-capitalize gray chair 
                    d-flex.justify-content-between 
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star main-color"></i>
                        <i class="fa-solid fa-star-half-stroke main-color"></i>
                .d-flex.justify-content-between.align-items-center 
                    p.main-color 456$
                    <i class="fa-solid fa-cart-shopping"></i>



//- end best selling


//- start about 

.about#about.pt-5.pb-5 
    .container 
        .row.justify-content-between    
            .col-lg-5.col-md-5.col-sm-6 
                img(src="images/about0.jpeg", alt="" class="w-100")
            .col-lg-6.col-md-6.col-sm-6 
                p.text-uppercase.text-black-50 about us 
                h2.text-capitalize.w-75 furnature is important part for comfort 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae vero deserunt, nesciunt nostrum neque ratione. Ea dolore sint placeat quis inventore, veniam culpa deserunt facilis reprehenderit rem animi aperiam?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia culpa veritatis suscipit soluta ex pariatur itaque veniam, nemo obcaecati ea.
                .btn.main-btn Learn More





//- end about




//- start brands

.brands#brands.pt-5.pb-5
    .container 
        h5.text-center.text-uppercase.text-black-50 brands 
        h2.text-center.text-capitalize our brands partners 
        .d-flex.flex-wrap.gap-4.justify-content-center.align-items-center
            a(href="https://www.google.com" target="_blank")
                img(src="images/brands1.png", alt="") 
            a(href="https://www.amazon.com" target="_blank")
                img(src="images/brand2.png", alt="") 
            a(href="https://www.tesla.com" target="_blank")
                img(src="images/brand3.png", alt="") 
            a(href="https://www.starbucks.com" target="_blank")
                img(src="images/brand4.png", alt="") 
            a(href="https://www.zoom.com" target="_blank")
                img(src="images/brand5.png", alt="") 




//- end brands


//- start contact

.contact.pt-4.pb-4#contact 
    .container
        .content.d-flex.flex-column.align-items-center.justify-content-center
            h3.text-center.text-capitalize subscribe to network 
            .input.d-flex.align-items-center 
                input(type="text" placeholder="Enter Your Email")
                .btn.main-btn.text-uppercase subscribe  

//- end contact