//- .header.position-fixed.w-100.pt-4.pb-4 
//-     .container 
//-         .d-flex.align-items-center.justify-content-between
//-             .logo.fw-bold.fs-4 
//-                 |Brand 
//-                 span(class="text-success") X.
//-             ul.d-flex.align-items-center.justify-content-around.list-unstyled
//-                 li(class="text-capitalize") home
//-                 li(class="text-capitalize") shop 
//-                 li(class="text-capitalize") new arrival
//-                 li(class="text-capitalize") about
//-                 li(class="text-capitalize") our partners
//-                 li(class="text-capitalize") concat 

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    .logo.fw-bold.fs-4 
        |Brand 
        span X.
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                li.nav-item
                    <a class="nav-link active" aria-current="page" href="#">Home</a>

                li(class="text-capitalize")
                    a(href="#shop") shop 
                li(class="text-capitalize")
                    a(href="#best") new arrival
                li(class="text-capitalize")
                    a(href="#about") about
                li(class="text-capitalize")
                    a(href="#brands") our partners
                li(class="text-capitalize")
                    a(href="#contact") contcat us
            </ul>
        </div>
    </div>
</nav>


//- bg-image
.bg

//- bg-content
.bg-content 
    .container
        h2.text-capitalize 
            span.main-color  make 
            |your comfort is our 
            span.main-color happiness    

        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias cupiditate officiis tempore error dolorem aliquid, inventore iste rerum.

        .btn.main-btn.text-capitalize shop now 

